.form-custom-narrow {
    width: 19%;
}

.odd-row, .even-row {
    width: 60%;
    padding-left: 20px;
    margin-top: 10px;
    margin-left: -20px;
}

.even-row {
    background-color: #FFFFFF;
    opacity: 0.8;
    border-radius: 5px;
}

.odd-row {
    background-color: #31b0d5;
    border-radius: 5px;
}


.backdrop {
    background-image: url(treebird.jpg);
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.table-custom {
    width: 60%;
    background-color: #FFFFFF;
    opacity: 0.9;
}

.chart {
    margin-left: -50px;
}

.block-header {
    background-color: #FFFFFF;
    opacity: 0.9;
}

p {
    word-wrap: break-word;
}

body {
    padding-top: 70px;
}