{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <h1>Welcome to URLyBird!</h1>
    {% for bookmark in bookmarks %}
        <div>
            <div class="{% cycle "odd" "even" %}-row">
                <p><a href="{% url 'bookmark_stats' bookmark.id %}">{{ bookmark.title }}</a>
                    | <a href="{% url 'bookmark_redirect' bookmark.code %}">{{ request.META.HTTP_HOST }}/egg/{{ bookmark.code }}</a>
                    | <a href="{% url 'user_bookmarks' bookmark.user.id %}">{{ bookmark.user.username }}</a>
                    | {{ bookmark.timestamp }}</p>

                <p>{{ bookmark.description|truncatechars:100 }}</p>

            </div>

        </div>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
        {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock %}