{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <h2>Search Results</h2>
    {% if results_bookmarks %}
    {% for bookmark in results_bookmarks %}
            <div class="{% cycle "odd" "even" %}-row">
                <p><a href="{% url 'bookmark_stats' bookmark.id %}">{{ bookmark.title }}</a>
                    | <a href="{% url 'bookmark_redirect' bookmark.code %}">{{ request.META.HTTP_HOST }}/egg/{{ bookmark.code }}</a>
                    | {{ bookmark.timestamp }}</p>
            </div>
    {% endfor %}
    {% else %}
        <p>No Results!</p>
    {% endif %}
        {% if paginator.num_pages > 1 %}
        {% bootstrap_pagination results_bookmarks.page %}
    {% endif %}
{% endblock %}