{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}
    <h1>Welcome to {{ user.username }}'s Nest!</h1>
    {% for bookmark in bookmarks %}
        <div>
            <div class="{% cycle "odd" "even" %}-row">
                <p><a href="{% url 'bookmark_redirect' bookmark.code %}">{{ bookmark.title }}</a>
                    | {{ request.META.HTTP_HOST }}/egg/{{ bookmark.code }}
                    | {{ bookmark.timestamp }}
                {% if request.user.is_authenticated and request.user == user %}
                     | <a href="{% url 'edit_bookmark' bookmark.id %}?return_url={{ request.get_full_path }}">Edit</a>
                     | <a href="{% url 'delete_bookmark' bookmark.id %}?return_url={{ request.get_full_path }}">Delete</a>
                    {% endif %}
                </p>

                <p>{{ bookmark.description }}</p>
            </div>

        </div>
    {% endfor %}
    {% if paginator.num_pages > 1 %}
        {% bootstrap_pagination page_obj %}
    {% endif %}
{% endblock %}